.container {
    /* 大小 */
    width: 85%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    /* 定在中间 */
    /* 修改居中 */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}


/* 表格 4列 */
.table {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr) .3fr 1fr .3fr;
    background: linear-gradient(to right, rgb(219, 241, 241), rgb(14, 228, 228));

    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.table .item {
    border: 1px solid rgba(0, 0, 0, 0.5);
    height: 50px;

    text-align: center;
    line-height: 50px;
}

.table .item .txt {
    width: 100%;
    height: 100%;
    padding: 0 10px;
    color: rgba(0, 0, 0, 0.5);
}

.table .item textarea.txt {
    resize: none;
    padding: 10px;
}

.table .item [type="checkbox"] {
    width: 100%;
    height: 50%;

}

.table .item .del,
.copy {
    padding: 5px;
    border: none;
    cursor: pointer;

    border-radius: 5px;
    background: #f40;
}

.table .item .del:hover {
    background: rgba(255, 0, 0, .9);
}


.add,
.generate {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    background: rgba(0, 255, 0);
    border-radius: 5px;
}

.copy {
    background: #000;
    color: #fff;
}

.copy:hover {
    background: rgba(0, 255, 0, 0.9);
    color: #000;
}

.add:hover,
.generate:hover {
    background: rgba(0, 255, 0, 0.9);
}



/* 控制区域 */
.control {
    margin-top: 20px;
}


/* 文本区域 */
.console-container {
    margin-top: 20px;
    border-radius: 10px 10px 0 0;
    background: rgba(205, 204, 171, 0.5);
    width: 70%;
    position: relative;
    padding: 20px;
}

.console-container .copy {
    position: absolute;
    right: 0;
    top: 0;
}

/* 描述信息 */
.desc {
    width: 70%;
    margin-top: 6em;
    font-size: 12px;
    font-family: inherit;
    line-height: 2em;
}

.desc .content {
    padding: 20px;
}

.desc .content ul {
    padding: 0 20px;
    text-indent: 2em;
}